<div class="d-none d-lg-block">
    @if (users.length > 0) {
    @if (usersSearched.length == 0) {
    <h2 class="p-5 text-white">No se encuentra ningún usuario con ese nombre</h2>
    } @else {
    <div class="d-flex flex-wrap d-grid gap-3 p-4">
        @for (user of usersSearched | paginate : {
        itemsPerPage: 20,
        currentPage: p
        }; track $index) {
        <app-user-card [userNameuser]="user.nameuser" [userName]="user.name" [userImage]="user.image"
            [userId]="user.id"></app-user-card>
        }
    </div>
    <div class="mx-auto justify-content-center d-flex rounded w-50">
        <pagination-controls class="pagination-spreads" previousLabel="Anterior" nextLabel="Siguiente" [autoHide]="true"
            [responsive]="true" [maxSize]="5" (pageChange)=" p = $event"></pagination-controls>
    </div>
    }
    } @else {
    <h2 class="p-5 text-white">No se encuentra ningún usuario disponible en este momento.</h2>
    }
</div>

<div class="d-block d-lg-none">
    @if (users.length > 0) {
        @if (usersSearched.length == 0) {
            <h2 class="p-5 text-white">No se encuentra ningún usuario con ese nombre</h2>
        } @else {   
    <div class="d-flex flex-wrap d-grid gap-3 p-4 positionuser">
        @for (user of usersSearched; track $index) {
            <app-user-card [userNameuser]="user.nameuser" [userName]="user.name" [userImage]="user.image"
            [userId]="user.id"></app-user-card>
        }
    </div>
    }      
    } @else {
    <h2 class="p-5 text-white">No se encuentra ningún usuario disponible en este momento.</h2>
    }
</div>
