<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center fondo">
    <div class="col-sm-8 col-md-6 col-lg-3 mt-4">
        <!-- Login -->
        <div class="card mt-5">
            <h2 class="card-title text-center mt-3">Inicio Sesión</h2>
            <form method="post" class="card-body">
  
                <!-- Campo Email -->
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" name="correo" id="correo" [(ngModel)]="loginRequest.email" required pattern="[^@\s]+@\.com">
                </div><br>
  
                <!-- Campo Contraseñas -->
                <div class="form-group">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="contraseña" id="contraseña" [(ngModel)]="loginRequest.password" required minlength="8">
                </div><br>
  
                <!-- Botón de Login -->
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-info form-control" value="Iniciar sesión" id="boton_login" (click)="login()">
                </div>
  
                <!-- Enlace registro -->
                <div class="text-center mt-3">
                    <span>¿No tienes cuenta? </span>                                                                                                                                                               
                    <a routerLink="/register" class="reglink">Regístrate</a>
                </div>
            </form>
        </div>
    </div>
  </div>
