/* Estilo para el contenedor principal con fondo de imagen */
.container-fluid {
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para el contenedor del formulario de registro */
.RegisterCard {
    background-color: white; 
    border-radius: 20px; 
    color: #919191; 
    padding: 20px; /* Ajusta el espacio interno */
    display: flex; /* Utiliza un contenedor flexible para alinear los elementos */
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center;
}

/* Estilos para los grupos de formulario dentro del formulario */
.RegisterCard form .form-group {
    margin-bottom: 10px; /* Aumenta el espacio entre grupos de formulario */
}

/* Estilos para los campos de entrada */
input {
    background-color: #F8F8F8; /* Fondo gris claro */
    border-radius: 0; /* Sin bordes redondeados */
    border: 1px solid #919191; /* Borde de 1px sólido de color gris */
}

/* Estilos para el botón de registro */
.RegisterCard form button {
    width: 100%; /* Ajusta el ancho del botón para que ocupe todo el ancho del contenedor */
    color: black; 
    border-radius: 2px; 
    border: none; /* Quita las líneas del borde */
}

/* Estilos para el título */
h2 {
    text-align: center; 
    color: black; 
}

.text-danger {
    display: block; /* Cambia el display a block para que respete el ancho máximo */
    white-space: normal; /* Permite que el texto se envuelva automáticamente en múltiples líneas */
    word-wrap: break-word; /* Permite que las palabras largas se rompan y continúen en la siguiente línea */
}

.fondo{
    background-color: rgb(32, 71, 133);
}

.positionImage{
    position: relative;
    bottom: 3%;
}

.positionRegister{
    position: relative;
    bottom: 5%;
}


@media (min-width: 1300px) {
    img{
       width: 25%; 
    }
}