<div class="container-fluid d-flex justify-content-center align-items-center vh-100 fondo">
    <!-- Registro -->
    <div class="card">
        <div class="RegisterCard">
            <h2 class="card-title">Registro</h2>

            <form>
                <!-- Campo Email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="registerRequest.email"
                        id="email" required pattern="[^@\s]+@gmail\.com">
                </div>

                <!-- Campo Username -->
                <div class="form-group">
                    <label for="email">Nombre de usuario</label>
                    <input type="email" class="form-control" name="nameuser" [(ngModel)]="registerRequest.nameuser"
                        id="nameuser" required="">
                </div>

                <!-- Campo Nombre -->
                <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="registerRequest.name"
                        id="nombre" >
                </div>

                <!-- Campo Imagen -->
                <div class="form-group">
                    <label for="firstName">Imagen de perfil</label>
                    <input type="file" class="form-control" name="image" (change)="obtainImage($event)" id="image">
                </div>

                <!-- Campo Contraseña -->
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="registerRequest.password"
                        id="password" required="">
                </div>

                <!-- Botón de Registro -->
                <div class="form-group">
                    <button type="submit" class="btn btn-info rounded" id="botonRegistro"
                        (click)="register()">Registrarse</button>
                </div>
            </form>
            <div class="form-group">
                <p>¿Ya tienes cuenta? Inicia sesión <a routerLink="/login">aquí</a></p>
            </div>
        </div>
    </div>
</div>