.visibilityInputBook{
    visibility: hidden;
}

.cursorImgBook{
    cursor: pointer;
}

.imgZoom{
    transition: transform .2s, filter .2s;
}

.imgZoom:hover{
    cursor: pointer;
    transform: scale(1.04);
    filter: blur(2px);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    color: rgb(206, 19, 47);
    -webkit-text-stroke: 1px black;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
}

.imgZoom:hover + .overlay {
    opacity: 1;
}

.shadow-book{
    box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.5), 8px 8px 0 0 rgba(218, 165, 32, 0.5);
   /* box-shadow: 0 0 0 2px rgba(0, 255, 255, 0.5), 8px 8px 0 0 rgba(0, 128, 128, 0.5);*/
}