.userZoom{
    transition: transform .2s;
}

.userZoom:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width: 567px) {
    .card-text {
      margin-bottom: 0.5em;
    }
  }
  
  .card {
    
    flex-direction: row;
  }

  .card-body {
    padding: 0.5em 1em;
  }

  .card1.card img {
    min-height: 10vh;
    max-width: 7em;
    height: 50%;
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
  }

  .image-container {
    width: 7em;
    height: 10vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px); 
  }

  .shadow-user{
   /* box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.5), 8px 8px 0 0 rgba(218, 165, 32, 0.5); */
    box-shadow: 0 0 0 2px rgba(0, 255, 255, 0.5), 8px 8px 0 0 rgba(0, 128, 128, 0.5);
}

.shadow-user2{
  /* box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.5), 8px 8px 0 0 rgba(218, 165, 32, 0.5); */
   box-shadow: 0 0 0 2px rgba(0, 128, 255, 0.684), 8px 8px 0 0 rgba(0, 55, 128, 0.5);
}