<div class="container mt-md-5">
    <div class="row bg-white rounded shadow-book p-4">
        @if (book.name != "" || book.image == ""){
        <div class="col-lg-5 col-md-12 d-flex justify-content-center align-items-center p-3">
            @if (book.image != "") {
                <img [src]="book.image" class="img-thumbnail rounded" alt="...">
              } @else {
                <img src="../../../assets/placeholder_book.jpg" class="img-thumbnail rounded" alt="...">
              }
        </div>
        <div class="col-lg-7 col-md-12 p-3">
            <h2 class="display-5">{{book.name}}</h2>
            <p class="text-muted">{{book.nameAuthor}}</p>
            <div class="d-flex flex-wrap">
                <div class="me-3">
                    <b>Editorial:</b>
                    <p>{{book.editorial}}</p>
                </div>
                <div>
                    <b>Género:</b>
                    <p>{{book.genre}}</p>
                </div>
            </div>
            <p>{{book.synopsis}}</p>
            <div class="d-flex flex-wrap">
                <div class="me-3">
                    @if (idFavorite == -1){
                    <button class="btn btn-info" (click)="addFavorites()">Añadir a favoritos</button>
                    } @else{
                    <button class="btn btn-danger" (click)="deleteFavorites()">Eliminar de favoritos</button>
                    }
                </div>
                @if (authService.isAdmin()){
                <div class="me-3">
                    <button class="btn btn-warning" [routerLink]="['edit']">Editar libro</button>
                </div>
                <div>
                    <button class="btn btn-danger" (click)="deleteBook()">Eliminar libro</button>
                </div>
                }
            </div>
        </div>
        } @else{
        <h2 class="text-center p-5">Los datos del libro no se encuentran disponibles en este momento</h2>
        }
    </div>
</div>