<div class="d-none d-lg-block">
    @if (authService.getUserData().admin) {
        <div class=" w-25 ">
            <button class="btn btn-warning" (click)="addBook()">Añadir libro</button>
        </div>
    }
    @if (books.length > 0) {
    @if (booksSearched.length == 0) {
    <h2 class="p-5 text-white">No se encuentra ningún libro con ese nombre</h2>
    } @else {
    <div class="d-flex flex-wrap d-grid gap-3 p-4">
        @for (book of booksSearched | paginate : {
        itemsPerPage: 20,
        currentPage: p
        }; track $index) {
        <app-book-card [bookName]="book.name" [bookAuthor]="book.nameAuthor" [bookImage]="book.image"
            [bookId]="book.id"></app-book-card>
        }
    </div>
    <div class="mx-auto justify-content-center d-flex rounded w-50">
        <pagination-controls class="pagination-spreads" previousLabel="Anterior" nextLabel="Siguiente" [autoHide]="true"
            [responsive]="true" [maxSize]="5" (pageChange)=" p = $event"></pagination-controls>
    </div>
    }
    } @else {
    <h2 class="p-5 text-white">No se encuentra ningún libro disponible en este momento.</h2>
    }
</div>

<div class="d-block d-lg-none">
    @if (authService.getUserData().admin) {
        <div>
            <button class="btn btn-warning" (click)="addBook()">Añadir libro</button>
        </div>
    }
    @if (books.length > 0) {
    @if (booksSearched.length == 0) {
    <h2 class="p-5 text-white">No se encuentra ningún libro con ese nombre</h2>
    } @else {
    <div class="d-flex flex-wrap d-grid gap-3 p-4 positionBook">
        @for (book of booksSearched; track $index) {
        <app-book-card [bookName]="book.name" [bookAuthor]="book.nameAuthor" [bookImage]="book.image"
            [bookId]="book.id"></app-book-card>
        }
    </div>
    }
    } @else {
    <h2 class="p-5 text-white">No se encuentra ningún libro disponible en este momento.</h2>
    }
</div>